.datos, .news{
    text-align: center;
}


.card-img-top{
    /*margin-top: 1rem;*/

    height: 11rem;
}

.card-body {
  margin-top: 1rem;
  border-radius: 2px;
  box-shadow: 5px 5px 11px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 5px 11px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 11px -2px rgba(0,0,0,0.75);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #dbdbdb;
  cursor: pointer;
  
}

/* On mouse-over, add a deeper shadow */
.card-body:hover {
    transform: scale(1.1) ;
-webkit-transform: scale(1.1) ;
-moz-transform: scale(1.1) ;
  transition: 0.2s;
}

.card-title{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.3rem;
    text-align: center;
}


  /*PANTALLA PEQ*/

  @media (max-width: 575.98px) {
    .card-body{
      width: 85vw;
      margin-left: auto;
      margin-right: auto;
    }
  }
  /*Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) { }
  
  /*Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) { }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) { }
  
  /* X-Large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) { }
  
  /* XX-Large devices (larger desktops, 1400px and up)*/
  @media (min-width: 1400px) {  }